@import "~node_modules/materialize-css/dist/css/materialize.min.css";

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.app-sidebar {
  width: 240px;
}

.app-content {
  padding: 16px;
  flex: 1;
}

