
button[type=submit] {
  margin-top: 20px;
  text-align: right;
}

.submit-button {
  text-align: right;
}

form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field{
  width: 100%;
}

@media screen and (max-width: 760px) {
  form{
    width: 100%;
  }
  input{
    width: 100%
  }
}
