<form [formGroup]="form" (ngSubmit)="save()">

  <div class="row">
    <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
            <mat-select formControlName="category" [disabled]="false">
              <mat-option *ngFor="let category of loadCategories()" value="{{category}}">{{category}}</mat-option>
            </mat-select>
        <small *ngIf="category?.touched && category?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name"  [class.is-invalid]="name?.touched && !name?.valid">
        <small *ngIf="name?.touched && name?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Icon</mat-label>
        <input matInput formControlName="icon"  [class.is-invalid]="icon?.touched && !icon?.valid">
        <small *ngIf="icon?.touched && icon?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price"  [class.is-invalid]="price?.touched && !price?.valid">
        <small *ngIf="price?.touched && price?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity"  [class.is-invalid]="quantity?.touched && !quantity?.valid">
        <small *ngIf="quantity?.touched && quantity?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>In Stock</mat-label>
        <input matInput formControlName="inStock"  [class.is-invalid]="inStock?.touched && !inStock?.valid">
        <small *ngIf="inStock?.touched && inStock?.hasError('required')" class="text-danger">
          Required!
        </small>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group submit-button">
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Save</button>

  </div>
</form>
