<mat-toolbar color="primary" class="toolbar">
  <button *ngIf="!(isGuest$ | async)" mat-icon-button class="example-icon" aria-label="Toggle SideNav"
          (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>

  <ng-container *ngIf="!(isGuest$ | async)">
    <span class="spacer"></span>

    <div mat-list-item style="display: flex;" *ngIf="!isSmallScreen">
      <a mat-button (click)="logout()">Logout</a>
    </div>
    <ng-container *ngIf="isSmallScreen">
      <button mat-icon-button class="favorite-icon" aria-label="User Account">
        <mat-icon>person</mat-icon>
      </button>
      <button (click)="logout()" mat-icon-button class="favorite-icon" aria-label="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </ng-container>
  </ng-container>


</mat-toolbar>
