<mat-sidenav-container class="app-container" fxLayout="row">
  <mat-sidenav mode="side" [opened]="opened$ | async" class="app-sidebar">

    <mat-nav-list role="navigation" style="height: 100%">
      <a mat-list-item routerLink="/"> Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/products-list'>Products</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='#'>Stock</a>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
