.app-container {
  width: 100%;
  display: flex;
}

.app-sidebar {
  width: 240px;
  overflow-y: auto;
}

.app-content {
  padding: 16px;
  flex: 1;
  background-color: white;
  height: 90vh;
  overflow-y: scroll;
}
.app-content::-webkit-scrollbar{
  visibility: hidden;
}
mat-sidenav{
  height: 100vh;
  overflow-y: scroll;
}

.active{
  color: red;
}

@media screen and (max-width: 760px) {
  .app-sidebar{
    width: 100%;
  }
}
